* {
    fill: rgba(64, 168, 196, 1);
    font-family: Raisonne;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(0, 0, 0, 1);
    background-color: #C0CAD2;
}

header {
    background-color: rgba(215, 255, 46, 1);
}

footer {
    background-color: #0BCC92;
    font-family: Roc Grotesk;
}

h1 {
    font-size: 135px;
}

p {
    font-size: 20px;
}

.whatson {
    background-color: #A385BD;
}

.hostEvent {
    background-color: #C0CAD2;
}